<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav>
    <a href="index.html">Template columns</a>
    <a href="place-item.html">Place item</a>
    <a href="template-areas.html">Template areas</a>
    <a href="spans.html">Spans</a>
    <a href="12-columns.html">12 columns</a>
  </nav>
  <div class="twelve-columns">
    <div class="span-12">Span 12</div>
    <div class="span-6">Span 6</div>
    <div class="span-4">Span 4</div>
    <div class="span-2">Span 2</div>
  </div>
</body>