<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav>
    <a href="index.html">Template columns</a>
    <a href="place-item.html">Place item</a>
    <a href="template-areas.html">Template areas</a>
    <a href="spans.html">Spans</a>
    <a href="12-columns.html">12 columns</a>
  </nav>
  <div class="text-container">
    <p>Ea proident nulla sunt duis. Aliquip Lorem enim aliquip officia minim laboris et nulla esse. Commodo commodo elit velit dolor dolor mollit fugiat ut irure officia aute sit quis minim. Quis laborum voluptate dolor laborum magna mollit aliqua mollit ut culpa.</p>
    <p>Velit fugiat fugiat labore nulla non fugiat tempor. Deserunt duis exercitation quis nulla consequat irure et ut adipisicing. Non veniam ut eu ea irure deserunt ea elit labore eiusmod ex officia.</p>
    <p>Pariatur magna reprehenderit culpa mollit officia nulla do non ea. Pariatur et consectetur nostrud laborum et commodo minim pariatur Lorem do Lorem. Duis enim in aute et. Nisi culpa ad ex est cillum anim. Veniam elit incididunt dolor consectetur in.</p>
    <p>Ex fugiat dolor sunt veniam amet veniam laborum tempor in magna nisi. Ipsum irure cupidatat consequat non. Laborum laboris minim fugiat irure occaecat officia laboris nulla anim dolore tempor amet.</p>
    <p>Eu minim duis anim deserunt ex. Esse laboris nulla esse ad et magna tempor in veniam irure. Et veniam velit dolor irure enim cillum nulla eiusmod consequat consectetur nostrud ullamco.</p>
    <p>Incididunt aliqua laborum exercitation labore sit excepteur. Lorem officia amet fugiat excepteur dolor cupidatat esse ea. Incididunt tempor labore ad adipisicing consequat culpa culpa in commodo non laboris sint.</p>
    <p>Proident ipsum consequat labore veniam culpa magna nostrud dolore sit sint mollit consectetur laboris ad. Ullamco officia ex et eu fugiat reprehenderit et. Amet occaecat elit adipisicing officia id cillum aliquip. Qui sit anim aute mollit.</p>
    <p>Velit proident ut labore cupidatat exercitation. Quis aliqua qui irure veniam consectetur Lorem irure anim minim consectetur irure adipisicing aute laborum. Veniam voluptate nulla ipsum ex. Occaecat culpa amet aliqua amet duis duis consectetur Lorem voluptate. Sint aute magna occaecat elit cupidatat sint adipisicing mollit nulla. Pariatur excepteur ad reprehenderit ad incididunt ad non veniam eiusmod culpa mollit ea ad.</p>
    <p>Qui quis ullamco laboris consectetur pariatur quis ex consectetur deserunt sunt eu amet. Do in anim aliqua mollit sint magna duis mollit sunt mollit elit. Magna Lorem laboris Lorem veniam sunt consequat fugiat ut dolor veniam veniam culpa. Aliquip exercitation labore sint adipisicing deserunt aute aliqua et sunt. Mollit cupidatat amet elit do laboris sint ex enim enim.</p>
  </div>
</body>