<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav>
    <a href="index.html">Template columns</a>
    <a href="place-item.html">Place item</a>
    <a href="template-areas.html">Template areas</a>
    <a href="spans.html">Spans</a>
    <a href="12-columns.html">12 columns</a>
  </nav>
  <div class="place-item">
    <span>Lorem ipsum</span>
  </div>
</body>