<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav>
    <a href="index.html">Template columns</a>
    <a href="place-item.html">Place item</a>
    <a href="template-areas.html">Template areas</a>
    <a href="spans.html">Spans</a>
    <a href="12-columns.html">12 columns</a>
  </nav>
  <div class="spans">
    <div class="first">First</div>
    <div class="second">Second</div>
    <div class="third">Third</div>
    <div class="fourth">Fourth</div>
  </div>
</body>