* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00cec9;
  font-family: sans-serif;
  color: #2d3436;
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-areas: "content" "nav";

  nav {
    grid-area: nav;
  }
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
  height: 30px;
  background-color: #2d3436;

  a {
    display: inline-block;
    text-decoration: none;
    color: #b2bec3;

    &:hover {
      color: #dfe6e9;
    }
  }
}

.text-container {
  display: grid;
  padding: 20px;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows:    100px 150px 200px;
  // grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, min-content);
  // grid-template-columns: repeat(auto-fill, 200px);
  // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  // auto-fill vs. auto-fit by example: https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/

  .contents {
    display: contents;
  }

  p {
    background-color: #ffeaa7;
    overflow: hidden;

    &:nth-child(odd) {
      background-color: #74b9ff;
    }
  }
}

.place-item {
  display: grid;
  place-items: center;
  justify-items: start;
  align-items: end;
  align-items: stretch;

  span {
    display: block;
    padding: 20px;
    background-color: #ffeaa7;
  }
}

.template-areas {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 80px 1fr;
  gap: 10px;
  grid-template-areas:
    "header  header"
    "sidebar content";

  // &.class {
  //   grid-template-columns: 1fr 3fr;
  //   grid-template-rows: 1fr 80px;
  //   grid-template-areas:
  //     "sidebar content"
  //     "header  header";
  // }

  @media (max-width: 1000px) {
    grid-template-areas:
      "sidebar header"
      "sidebar content";
  }

  @media (max-width: 800px) {
    grid-template-areas:
      ".       header"
      "sidebar content";
  }

  header {
    grid-area: header;
    background-color: #6c5ce7;
  }

  aside {
    grid-area: sidebar;
    background-color: #0984e3;
  }

  main {
    grid-area: content;
    background-color: #e17055;
  }
}

.spans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(4, 1fr);
  gap: 10px;

  div {
    display: grid;
    place-items: center;
  }

  .first {
    background-color: #6c5ce7;
    grid-column: 1 / 3;
    grid-column: 1 / span 2;
    grid-row: 1 / 3;
  }

  .second {
    background-color: #0984e3;
    grid-row: 1 / 3;
  }

  .third {
    background-color: #e17055;
  }

  .fourth {
    background-color: #e84393;
    opacity: 0.5;
    grid-column: 1 / 2;
    grid-row: 2 / -1;
  }
}

.twelve-columns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px;
  row-gap: 10px;

  div {
    display: grid;
    place-items: center;
  }

  .span-12 {
    grid-column: 1 / span 12;
    background-color: #6c5ce7;
  }

  .span-6 {
    grid-column: 1 / span 6;
    background-color: #0984e3;
  }

  .span-4 {
    grid-column: 4 / span 4;
    background-color: #e17055;
  }

  .span-2 {
    grid-column: 3 / span 2;
    background-color: #e84393;
  }
}
